doctype html
html
  include ../components/page-head
  body
    include ../components/header
    .animsition
      .wrapper.clearfix
        .secondary-header.clearfix
          .headline.clearfix
            h1#first Matteo Fratesi is a nomad  
            h1#rotate.darker da cambiare
          nav
            ul
              li
                a(href='index.html') Websites
              li
                a(href='illustrations.html') Illustrations
              li
                a.selected(href='about.html') About
      #fire.container
      .wrapper.clearfix
        .about
          h2
            | Hello!
            br
            |  If you need a website, a logo, an illustration or a beer 
            |                write me at 
            a.link(href='mailto:matteo@lacerba.io') matteo@lacerba.io
            br
            |  or give me a call at 
            a.link(href='tel:+393398698679') +39 3398698679
        .icons.clearfix
          ul
            li
              a(href='https://www.facebook.com/matteo.fratesi', target='_blank')
                img(src='facebook-letter-logo.svg')
            li
              a(href='https://twitter.com/MatteoFratesi', target='_blank')
                img#twit(src='twitter-logo.png')
            li
              a(href='https://www.linkedin.com/in/matteofratesi?trk=hp-identity-photo', target='_blank')
                img(src='linkedin-logo.svg')
            li
              a(href='https://dribbble.com/fratta', target='_blank')
                img(src='dribbble.png')
            li
              a(href='https://github.com/mattifra', target='_blank')
                img(src='github.png')
      #breaking.container
        .scritta-bottom1
          p Never Stop
        .scritta-bottom2
          p Cooking
    footer.main-footer
      p © 2016 Matteo Fratesi
