doctype html
html
  include ../components/page-head
  body
    include ../components/header
    .wrapper-2.clearfix
      .secondary-header.clearfix
        .headline.clearfix
          h1#first Matteo Fratesi is a nomad  
          h1#rotate.darker da cambiare
        nav
          ul
            li
              a.selected(href='index.html') Websites
            li
              a(href='illustrations.html') Illustrations
            li
              a(href='about.html') About
      section.projects.clearfix
        h1
          a(href='http://craftain.com/', target='blank') Craftain
        a.link(href='http://craftain.com/', target='blank')
          img.imm-sx(src='dist/images/craftain2.jpg', alt='')
        .descr-dx
          h2 Co-Founder, and Web Designer
          p
            a.link(href='http://craftain.com/', target='blank') Craftain
            |  is the place where you can learn the latest technologies directly from their creators.
          p I enjoy doing all the illustrations and the Frontend of the website.
    #breaking.container
      .scritta-bottom1
        p Never Stop
      .scritta-bottom2
        p Cooking
    footer.main-footer
      p © 2016 Matteo Fratesi
