doctype html
html
  include ../components/page-head
  body
    include ../components/header
    .wrapper.clearfix
      .secondary-header.clearfix
        .headline.clearfix
          h1#first Matteo Fratesi is a nomad  
          h1#rotate.darker da cambiare
        nav
          ul
            li
              a(href='index.html') Websites
            li
              a.selected(href='illustrations.html') Illustrations
            li
              a(href='about.html') About
      section.projects
        ul#gallery
          li
            a(href='images/web-des.webp', data-lightbox='illustrations', data-title='Web designer VS Web developer')
              img.lazyload(data-src='images/web-des.webp', alt='Web Designer - Web Developer')
              p
                | Web Designer VS Web Developer - Article for Medium 
                span.italic  - 2016
          li
            a(href='images/alaska.webp', data-lightbox='illustrations', data-title='Alaska - Illustation for Craftain.com')
              img.lazyload(data-src='images/alaska.webp',  alt='Alaska')
              p
                | Alaska - Illustation for Craftain.com - 
                span.italic  2016
          li
            a(href='images/features.png', data-lightbox='illustrations', data-title='Features - Illustation for Craftain.com')
              img.lazyload(data-src='images/features.png'  alt='Features')
              p
                | Alaska - Illustation for Craftain.com - 
                span.italic  2016
          li
            a(href='images/1_year.webp', data-lightbox='illustrations', data-title='Happy Birthday - Illustration for Lacerba.io')
              img.lazyload(data-src='images/1_year.webp',  alt='Candelina')
              p
                | Happy Birthday - Illustration for Lacerba.io - 
                span.italic  2016
          li
            a(href='images/creo.webp', data-lightbox='illustrations', data-title='Creo - Character creation')
              img.lazyload(data-src='images/creo.webp', alt ='Creo')
              p
                | Creolabs - Character creation -
                span.italic  2016
          li
            a(href='images/logo_beppe.webp', data-lightbox='illustrations', data-title='Giuseppe Salvatore Paladino - Logo Design')
              img.lazyload(data-src='images/logo_beppe.webp', alt='Logo Paladino')
              p
                | Giuseppe Salvatore Paladino - Logo Design -
                span.italic  2016
    #breaking.container
      .scritta-bottom1
        p Never Stop
      .scritta-bottom2
        p Cooking
    footer.main-footer
      p © 2016 Matteo Fratesi
