doctype html
html
  include ../components/page-head
  body
    include ../components/header
    .animsition
      .wrapper.clearfix
        .secondary-header.clearfix
          .headline.clearfix
            h1#first Matteo Fratesi is a nomad  
            h1#rotate.darker da cambiare
          nav
            ul
              li
                a(href='index.html') Websites
              li
                a.selected(href='illustrations.html') Illustrations
              li
                a(href='about.html') About
        section.projects
          ul#gallery
            li
              a(href='web-des.jpg', data-lightbox='illustrations', data-title='Web designer VS Web developer')
                img(src='web-des.jpg', alt='Web Designer - Web Developer')
                p
                  | Web Designer VS Web Developer - Article for Medium 
                  span.italic  - 2016
            li
              a(href='alaska.jpg', data-lightbox='illustrations', data-title='Alaska - Illustation for Craftain.com')
                img(src='alaska.jpg', alt='Alaska')
                p
                  | Alaska - Illustation for Craftain.com - 
                  span.italic  2016
            li
              a(href='features.png', data-lightbox='illustrations', data-title='Features - Illustation for Craftain.com')
                img(src='features.png', alt='Features')
                p
                  | Alaska - Illustation for Craftain.com - 
                  span.italic  2016
            li
              a(href='1_year.jpg', data-lightbox='illustrations', data-title='Happy Birthday - Illustration for Lacerba.io')
                img(src='1_year.jpg', alt='Candelina')
                p
                  | Happy Birthday - Illustration for Lacerba.io - 
                  span.italic  2016
            li
              a(href='creo.jpg', data-lightbox='illustrations', data-title='Creo - Character creation')
                img(src='creo.jpg', alt='Creo')
                p
                  | Creolabs - Character creation -
                  span.italic  2016
            li
              a(href='logo_beppe.jpg', data-lightbox='illustrations', data-title='Giuseppe Salvatore Paladino - Logo Design')
                img(src='logo_beppe.jpg', alt='Logo Paladino')
                p
                  | Giuseppe Salvatore Paladino - Logo Design -
                  span.italic  2016
      #breaking.container
        .scritta-bottom1
          p Never Stop
        .scritta-bottom2
          p Cooking
    footer.main-footer
      p © 2016 Matteo Fratesi
