doctype html
html
  include ../components/page-head
  body
    include ../components/header
    .wrapper-2.clearfix
      .secondary-header.clearfix
        .headline.clearfix
          h1#first Matteo Fratesi is a nomad  
          h1#rotate.darker da cambiare
        nav
          ul
            li
              a.selected(href='index.html') Websites
            li
              a(href='illustrations.html') Illustrations
            li
              a(href='about.html') About
      section.projects.clearfix
        h1
          a(href='http://lacerba.io/', target='blank') Lacerba.io
        a.link(href='http://lacerba.io/', target='blank')
          img.imm-sx(src='dist/images/homepage.jpg', alt='')
        .descr-dx
          h2 Co-Founder, Teacher and Web Designer
          p
            a.link(href='http://lacerba.io/', target='blank') Lacerba.io
            |  is an online e-learning platform focused on Italian market. At Lacerba we teach people how to convert an idea into reality building web applications, teaching the lean startup approach and the basic marketing and design tactics in order to successfully start a new startup. .
          p
            | Our courses will walk the students through the whole process of developing Startup Projects step-by-step including mentorship interview with italian founders.
          p
            | I enjoy doing the Illustrations and the Frontend development of the website, as well as teaching 
            a.link(href='http://lacerba.io/pages/corsi-web-design', target='blank') Web Design
            |   and 
            a.link(href='http://lacerba.io/pages/corsi-programmazione', target='blank') Frontend Development
            |   on our online courses.
    #breaking.container
      .scritta-bottom1
        p Never Stop
      .scritta-bottom2
        p Cooking
    footer.main-footer
      p © 2016 Matteo Fratesi
