doctype html
html
  include components/page-head
  body
    include components/header
    .wrapper.clearfix
      .secondary-header.clearfix
        .headline.clearfix
          h1#first Matteo Fratesi is a nomad  
          h1#rotate.darker da cambiare
        include components/nav
      section.projects
        ul#gallery
          li
            a(href='craftain.html')
              img(src='images/craftain2.jpg', alt='Craftain')
              p
                | Craftain - Web Designer & Frontend Developer - 
                span.italic  ongoing
          li
            a(href='lacerba.html')
              img(src='images/lacerba2.jpg', alt='Lacerba')
              p
                | Lacerba - Web Designer & Frontend Developer - 
                span.italic  ongoing
          li
            a(href='https://mattifra.github.io/TodoList-App/', target='_blank')
              img(src='images/todo.jpg', alt='TodoList')
              p
                | Simple JavaScript TodoList App - 
                span.italic  2016
    #breaking.container
      .scritta-bottom1
        p Never Stop
      .scritta-bottom2
        p Cooking
    footer.main-footer
      p © 2016 Matteo Fratesi
