doctype html
html
  include page-head
  body
    header.main-header.clearfix
      a#logo(href='index.html')
        img.top-logo(src='mf.png')
    .animsition
      .wrapper.clearfix
        .secondary-header.clearfix
          .headline.clearfix
            h1#first Matteo Fratesi is a nomad  
            h1#rotate.darker da cambiare
          nav
            ul
              li
                a.selected(href='index.html') Websites
              li
                a(href='illustrations.html') Illustrations
              li
                a(href='about.html') About
        section.projects
          ul#gallery
            li
              a(href='craftain.html')
                img(src='craftain2.jpg', alt='Craftain')
                p
                  | Craftain - Web Designer & Frontend Developer - 
                  span.italic  ongoing
            li
              a(href='lacerba.html')
                img(src='lacerba2.jpg', alt='Lacerba')
                p
                  | Lacerba - Web Designer & Frontend Developer - 
                  span.italic  ongoing
            li
              a(href='https://mattifra.github.io/TodoList-App/', target='_blank')
                img(src='todo.jpg', alt='TodoList')
                p
                  | Simple JavaScript TodoList App - 
                  span.italic  2016
      #breaking.container
        .scritta-bottom1
          p Never Stop
        .scritta-bottom2
          p Cooking
    footer.main-footer
      p © 2016 Matteo Fratesi
